%mark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.todo__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .done {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
  }

  .done__mark {
    @extend %mark;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
  }

  .empty__mark {
    @extend %mark;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}
