.album, .todo, .post {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
  line-height: 1.8rem;

  h2 {
    margin-bottom: 10px;
  }

  p, div {
    font-size: 1.2rem;

    span {
      font-weight: 600;
    }
  }
}